body{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.list-group-device{
  align-items: center;
}

.list-name{
  cursor:pointer;
}


.device-list > span {
  padding:5px 8px;
  border:1px solid rgb(11, 168, 216);
  border-radius:10px;
  margin-right:20px;
  cursor:pointer;
}

.device-list>span.active {
  background-color:  rgb(11, 168, 216);
  color: #fff;
}

